In [38]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [39]:
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [40]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [41]:
df.shape

(918, 12)

In [42]:
def z_score_outlier_remover(x, df): 
    df[f'zscore_{x}'] = (df[x] - df[x].mean()) / df[x].std()
    df2 = df[(df[f'zscore_{x}'] > -3) & (df[f'zscore_{x}'] < 3)]
    drop = ['zscore_Age', 'zscore_RestingBP', 'zscore_Cholesterol', 'zscore_FastingBS', 'zscore_MaxHR', 'zscore_Oldpeak']
    df2.drop(drop, axis='columns', inplace=True)     
    return df2

In [43]:
columns = ['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak'] 
for i in columns: 
    df2 = z_score_outlier_remover(i, df) 

df2.head()

KeyError: "['zscore_RestingBP', 'zscore_Cholesterol', 'zscore_FastingBS', 'zscore_MaxHR', 'zscore_Oldpeak'] not found in axis"

In [ ]:
df2.shape

In [ ]:
df2.Sex.unique()

In [44]:
df2.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [45]:
df2.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [46]:
df2.ExerciseAngina.unique()

array([0, 1])

In [47]:
df2.ST_Slope.unique()

array([2, 1, 0])

In [21]:
from sklearn.preprocessing import LabelEncoder

In [27]:
le = LabelEncoder() 
dfle = df2

In [28]:
def lable_encode(x, df): 
    df[x] = le.fit_transform(df[x])

In [29]:
columns = ['Sex', 'ST_Slope', 'ExerciseAngina']

for i in columns: 
    lable_encode(i, dfle) 

dfle.head()

C:\Users\madhu\AppData\Local\Temp\ipykernel_25468\2468077869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x] = le.fit_transform(df[x])
C:\Users\madhu\AppData\Local\Temp\ipykernel_25468\2468077869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x] = le.fit_transform(df[x])
C:\Users\madhu\AppData\Local\Temp\ipykernel_25468\2468077869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x] = le.fit_transform(df[x])

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,2,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,1,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,2,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,1,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,2,0

In [31]:
dummies = pd.get_dummies(df[['ChestPainType', 'RestingECG']], dtype='int64')
dummies.head()

,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST
0,0,1,0,0,0,1,0
1,0,0,1,0,0,1,0
2,0,1,0,0,0,0,1
3,1,0,0,0,0,1,0
4,0,0,1,0,0,1,0

In [34]:
df3 = pd.concat([dfle, dummies], axis='columns')
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST
0,40.0,1.0,ATA,140.0,289.0,0.0,Normal,172.0,0.0,0.0,2.0,0.0,0,1,0,0,0,1,0
1,49.0,0.0,NAP,160.0,180.0,0.0,Normal,156.0,0.0,1.0,1.0,1.0,0,0,1,0,0,1,0
2,37.0,1.0,ATA,130.0,283.0,0.0,ST,98.0,0.0,0.0,2.0,0.0,0,1,0,0,0,0,1
3,48.0,0.0,ASY,138.0,214.0,0.0,Normal,108.0,1.0,1.5,1.0,1.0,1,0,0,0,0,1,0
4,54.0,1.0,NAP,150.0,195.0,0.0,Normal,122.0,0.0,0.0,2.0,0.0,0,0,1,0,0,1,0

In [35]:
df3.drop(['ChestPainType', 'RestingECG'], axis='columns', inplace=True) 
df3.shape

(918, 17)

In [36]:
df3.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST
0,40.0,1.0,140.0,289.0,0.0,172.0,0.0,0.0,2.0,0.0,0,1,0,0,0,1,0
1,49.0,0.0,160.0,180.0,0.0,156.0,0.0,1.0,1.0,1.0,0,0,1,0,0,1,0
2,37.0,1.0,130.0,283.0,0.0,98.0,0.0,0.0,2.0,0.0,0,1,0,0,0,0,1
3,48.0,0.0,138.0,214.0,0.0,108.0,1.0,1.5,1.0,1.0,1,0,0,0,0,1,0
4,54.0,1.0,150.0,195.0,0.0,122.0,0.0,0.0,2.0,0.0,0,0,1,0,0,1,0

In [48]:
X = df3.drop('HeartDisease', axis='columns')
y = df3.HeartDisease

In [49]:
from sklearn.preprocessing import MinMaxScaler 

scaler = MinMaxScaler(feature_range=(0,1))
X_scaled = scaler.fit_transform(X)
X_scaled

array([[0.24489796, 1.        , 0.7       , ..., 0.        , 1.        ,
        0.        ],
       [0.42857143, 0.        , 0.8       , ..., 0.        , 1.        ,
        0.        ],
       [0.18367347, 1.        , 0.65      , ..., 0.        , 0.        ,
        1.        ],
       ...,
       [       nan,        nan,        nan, ..., 0.        , 1.        ,
        0.        ],
       [       nan,        nan,        nan, ..., 1.        , 0.        ,
        0.        ],
       [       nan,        nan,        nan, ..., 0.        , 0.        ,
        1.        ]])

In [51]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier

In [53]:
model_params = {
    'svm': {
        'model': SVC(gamma='auto'),   
        'params': {
            'C': [1,10,20], 
            'kernel': ['rbf', 'linear']
        }
    }, 
    'logistic_regression': {
        'model': LogisticRegression(solver='liblinear', multi_class='auto'), 
        'params': {
            'C': [1,5,10]
        }
    },   
    'random_forest': {
        'model': RandomForestClassifier(), 
        'params': {
            'n_estimators': [1,5,10]
        }
    }
}

In [54]:
from sklearn.model_selection import GridSearchCV

In [ ]:
scores = [] 

for model_name, mp in model_params.items(): 
    clf = GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False) 
    clf.fit()